<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Time </div>
    <div><%= flight.departs %></div>
    <div>Tickets:</div>
        <div>
          <% if (flight.tickets.length=== 0) { %>
            No tickets have been bought yet
            <% } else { %>
              <ul>
                <% flight.tickets.forEach(ticket=> { %>
                  <li>
                    <%= `Seat: ${ticket.seat}, Price: ${ticket.price}` %>
                        <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST"
                          class="delete-btn" autocomplete="off">
                          <button type="submit">X</button>
                        </form>
                      </li>
                      <% }) %>
                    </ul>
                    <% } %>
                  </div>
                  <div>
                    <a href="/flights/<%= flight._id %>/edit">
                      <button>Edit Flight</button>
                    </a>
                  </div>
  </section>
  <hr>
  <h2 style="text-align: center;">Meals: </h2>
    <ul>
      <% flight.meals.forEach(mealName => { %>
        <li><%= mealName.name %></li>
      <% }) %>
    </ul>
  </section>
  <form id="add-meal-to-flight" method="POST" action="/flights/<%= flight._id %>/meal">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Meal to Flight</button>
  </form>
  <section>
      <section id="add-ticket">
        <h2 style="text-align: center;">Add Ticket</h2>
        <h2></h2>
        <form action="/flights/<%= flight._id %>/tickets" method="POST" autocomplete="off">
          <input name="seat" required pattern="[A-Fa-f][1-99]\d?" placeholder="Ticket no: [A-F][1-99]">
          <input type="text" name="price" id="price-input" placeholder="Price">
          <button type="submit" style="margin: 20px auto">Add Ticket</button>
        </form>
  </section>
  <p><a href="/flights">Go Back</a></p>
</main>

<%- include('../partials/footer') %>