<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs </div>
    <div><%= flight.departs %></div>
  </section>
<<<<<<< HEAD
  <div>
    <a href="/flights/<%= flight._id %>/edit">
      <button>Edit Flight</button>
    </a>
  </div>
=======
>>>>>>> a4590e98decf896c6ba54ffa68f513365d185f2a
  <p><a href="/flights">Go Back</a></p>
</main>

<%- include('../partials/footer') %>